.full-width{
  width: 100%;
}

.example-spacer{
  flex: 1 1 auto;
}

.checkbox-password{

  display: flex;
  padding-left: 10px;
  height: 40px;
}

.checkbox-text-gray{
  color: rgb(135, 94, 94) ;
}

.input-contraseña{
  margin-top: 10px;
}

.text-link{
  padding-left: 10px;
  display: block;
  height: 30px;
  text-decoration: none;
  color : rgb(90, 76, 76);
}

.text-link span{
  color : rgb(224, 83, 83);
  font-weight: bold;
}
